

#Product
 {font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;}

#Product td, #Product th 
{ border: 1px solid #ddd;
  padding: 8px; }

#Product tr:nth-child(even){background-color: #f2f2f2;}

#Product tr:hover {background-color: #ddd;}

#Product th 
{padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;}

/* This CSS section is for Travel Reservation Form */

/* Style the formcontainer width, and set to the center of the screen */

.formcontainer{
    width: 1000px;
    margin: auto;
    margin-top: 30px;
}

/* set font to 18px, and font family  */
label, input, button, legend, select, .title {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the inputs and select */
input:not([type=radio]):not([type=checkbox]) select {
    Width: 50%;
    padding: 10px 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px; 
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding: 14px 20px;
    margin: 8px, 0;
    display: block;
    border: none;
    border-radius: 4px;
    margin: auto;
    cursor: pointer;
    /*margin: auto;*/
}

button:hover {
    background-color: darkgreen;
}